:root{
    background-color: #000101;
}
h1{
    color: white ;
    align-self: center ;
}
h2{
    color: white ;
}

.container{
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 24px;
    text-align: center;
    height: 10px;
}
.intrest{
    color: rgb(73, 73, 73) ;
    margin-bottom: 10px;
}
.footer{
   float: right;
   text-align: right;
   color: whhite ;
   padding: 20px;
}